
header {
    text-align: center;
}

h1 {
    font-size: 22px;
}

p a {
    font-style: italic;
}

h2 {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
}

th {
    background-color: #008000;
    color: #FFFFFF;
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: #E0E0E0;
    color: #000000;
}

td:last-child {
    text-align: right;
}

table th {
    font-size: 30px;
}

table td {
    font-size: 20px;
}


@media screen and (min-width: 768px) and (max-width: 991px) {

    table th {
        font-size: 22px;
    }


    table td {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {

    table th {
        font-size: 24px;
    }


    table td {
        font-size: 16px;
    }
}
