
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    display: flex;
    flex-wrap: wrap;
}

div {
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
}

div:nth-child(1) {
    background-color: #ffc107;
    color: #333;
}

div:nth-child(2) {
    background-color: #17a2b8;
    color: #fff;
}

div:nth-child(3) {
    background-color: #28a745;
    color: #fff;
}

div:nth-child(4) {
    background-color: #dc3545;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #28a745;
    color: #fff;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

img {
    width: 320px;
    height: 240px;
    display: block;
    margin-top: 10px;
    background-color: #dc3545;
}

.inshe {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin: 0;
    width: fit-content;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 120%;
}

p {
    color: #333;
}

h2 {
    font-size: 120%;
}

section p {
    font-size: 14px;
    margin-top: 10px;
}


@media screen and (max-width: 768px) {
    div {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    div:nth-child(1),
    div:nth-child(2) {
        width: 30%;
    }

    div:nth-child(3),
    div:nth-child(4) {
        width: 40%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    div:nth-child(1),
    div:nth-child(2),
    div:nth-child(3) {
        width: 25%;
    }

    div:nth-child(4) {
        width: calc(100% - (20% * 3));
    }
}

@media screen and (min-width: 1201px) {
    div {
        width: 20%;
    }
}
